CAPTION {
	text-align: center;
	font-weight: bold;
	font-size: 1.10em;
	line-height: 1.5em;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 1px;
	margin-right: 1px;
}
.botones3 {
	color: #043700;
	background-color: #F5F5F5;
	border: 1px solid #065200;
}
a.botones3:link {
	color: #043700;
	background-color: #F5F5F5;
}
a.botones3:visited {
	color: #043700;
	background-color: #F5F5F5;
}
a.botones3:hover {
	color: #483D8B;
	background-color: #E3E3E3;
}
a.botones3:active {
	color: #1E90FF;
	background-color: #F5F5F5;
}
.botones3_desact {
	color: #999999;
	background-color: #F5F5F5;
	border: 1px solid #065200;
}
a.botones3_desact:link {
	color: #999999;
	background-color: #F5F5F5;
}
a.botones3_desact:visited {
	color: #999999;
	background-color: #F5F5F5;
}
a.botones3_desact:hover {
	color: #999999;
	background-color: #F5F5F5;
}
a.botones3_desact:active {
	color: #999999;
	background-color: #F5F5F5;

}
.thsubform {
	color: #000066;
	background-color: #DDDDFF;
	border-top: 2px #FFFFFF solid;
	border-bottom: 1px #000066 solid;
	border-spacing: 0px;
}
.fondotabla {
	background-color: #DDDDFF;
	border: 1px #000066 solid;
}
.bordercollapse {
	border-collapse: collapse;
}
.titulocampo {
	color: #000066;
}
.titulocampotop {
	color: #000066;
}
.titulocampocenter {
	color: #000066;
}
.datocenter {
	color: #000066;
}
.campo {
	color: #000066;
	border: 1px solid #000066;
}
.thsubform {
}
.resultadocampo {
	color: #0000FF;
}
.resultadocampocentro {
	color: #0000FF;
}
.sim_border_vert {
	border-left: 1px solid #DDDDFF;
}
.sim_border_horiz {
	border-bottom: 1px solid #DDDDFF;
}
.row_odd1 {
	background: #E1EBFF; /* #BFD3FF o #AFC3FE  #FFCBCB #E1EBFF*/
}
.row_even1 {
	background: #EDF1F7; /* #D6DBE9 o #C6CBD9*/
}
.row_odd2 {
	background: #DDF2FF; /* #BFD3FF o #AFC3FE  #FFCBCB*/
}
.row_even2 {
	background: #DEE1EB; /* #D6DBE9 o #C6CBD9*/
}
.row_odd3 {
	background: #EEFFDD; /* #BFD3FF o #AFC3FE  #FFCBCB*/
}
.row_even3 {
	background: #FFFFE5; /* #D6DBE9 o #C6CBD9*/
}
.row_odd4 {
	background: #F1E6D5; /* #BFD3FF o #AFC3FE  #FFCBCB*/
}
.row_even4 {
	background: #FFF3D9; /* #D6DBE9 o #C6CBD9*/
}
