* {
	padding: 0; margin: 0; 
	font-family: Arial, Helvetica, sans-serif, Geneva;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	vertical-align:top;
}
body,td,input,textarea,select {
	font-family: Arial, Helvetica, sans-serif;
}
th {
	font-weight: bold;
	text-align: left;
	padding: 5px 5px 5px 10px;	
}
form {
	display:inline;
}
.noPaddingCell {
	padding: 0px;
}
.style1 {
}
.style2 {
}
.style3 {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.2em;
}
.style4 {
}
.style5 {
}
.style6 {
	font-weight: bold;
	font-size: .95em;
}
.style7 {
	font-weight: bold;
	font-size: 1.00em;
}
.size1 {
/*	font-size: 0.75em;*/
	font-size: 1.2em;
}
.size2 {
	font-size: 1.1em;
}
.size3 {
	font-size: 1.10em;
}
.size4 {
	font-size: 0.80em;
}
.size5 {
	font-size: 0.70em;
}
.size6 {
	font-size: 0.60em;
}
.botonalto {
	background: #DCDCDC;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	font-size: .95em;
	font-weight: bold;
}
.titulos {
	padding: 3px;
}
.resultado {
	padding: 4px;
	border: 1px solid #CC0000;
}
.thresultado {
	font-weight: bold;
	text-decoration: none;
	padding: 2px;
	text-align: center;
}


.botones {
	padding: 6px 2px 6px 22px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.95em;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.30em;
	vertical-align: middle;
	margin: 0px;
}
a.botones:link {
	text-decoration: none;
}
a.botones:visited {
	text-decoration: none;
}
a.botones:hover {
	text-decoration: none;
}
a.botones:active {
	text-decoration: none;
}
.botones2 {
	padding: 6px 2px 6px 6px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.0em;
	vertical-align: middle;
	margin-left: 8px;
	margin-top: 1px;
	margin-bottom: 1px;
}
a.botones2:link {
	text-decoration: none;
}
a.botones2:visited {
	text-decoration: none;
}
a.botones2:hover {
	text-decoration: none;
}
a.botones2:active {
	text-decoration: none;
}
.botones3 {
	padding: 4px;
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.95em;
	font-weight: bold;
	text-decoration: none;
	vertical-align: middle;
}
a.botones3:link {
	text-decoration: none;
}
a.botones3:visited {
	text-decoration: none;
}
a.botones3:hover {
	text-decoration: none;
}
a.botones3:active {
	text-decoration: none;
}
.botones3_desact {
	padding: 4px;
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.95em;
	font-weight: bold;
	text-decoration: none;
	vertical-align: middle;
}
a.botones3_desact:link {
	text-decoration: none;
}
a.botones3_desact:visited {
	text-decoration: none;
}
a.botones3_desact:hover {
	text-decoration: none;
}
a.botones3_desact:active {
	text-decoration: none;
}
.botones_desac {
	padding: 6px 2px 6px 22px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.95em;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.30em;
	vertical-align: middle;
	margin: 0px;
}
a.botones_desac:link {
	text-decoration: none;
}
a.botones_desac:visited {
	text-decoration: none;
}
a.botones_desac:hover {
	text-decoration: none;
}
a.botones_desac:active {
	text-decoration: none;
}
.boton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	background: #DCDCDC;
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px;
}
a.boton:active {
	background-color: #ffffff;
	color: #B22222;
}
.botonchico {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	background: #DCDCDC;
}
a.botonchico:active {
	background-color: #ffffff;
	color: #B22222;
}
.botonchico2 {
	background: #DCDCDC;
	font-size: 0.9em;
	width: 3.5em;
	height: 1.60em;
	line-height: 0.90em;
	vertical-align: middle;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.botonchico3 {
	background: #DCDCDC;
	font-size: 0.8em;
	width: 5.5em;
	height: 1.60em;
	line-height: 0.85em;
	vertical-align: middle;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.style4slink {
	font-size: 0.8em;
	text-decoration: none;
	color: #000000;
}
a.style4slink {
	text-decoration: none;
	color: #000000;
}
.elim {
	color: #CF2600;
	font-size: 0.80em;
	text-decoration: underline;
}
a.elim:link{
	color: #CF2600;
	text-decoration: underline;
}
a.elim:visited{
	color: #CF2600;
	text-decoration: underline;
}
a.elim:hover{
	color: #FFFFFF;
	background-color: #D54322;
	text-decoration: underline;
}
.dato {
	color: #000000;
	font-size: .80em;
}
a.dato:link{
	color: #0000CD;
	text-decoration: underline;
}
a.dato:visited{	
	color: #0000CD;
	text-decoration: underline;
}
a.dato:hover{
	color: #FFFFFF;
	background-color: #0000CD;
	text-decoration: underline;
}
.deta {
	color: #000066;
	text-decoration: underline;
}
a.deta:link{
	color: #000066;
	text-decoration: underline;
}
a.deta:visited{
	color: #000066;
	text-decoration: underline;
}
a.deta:hover{
	color: #FFFFFF;
	background-color: #000066;
	text-decoration: underline;
}
.desac {
	color: #999999;
	text-decoration: none;
}
.deta2 {
	color: #000066;
	font-size: 1.00em;
	text-decoration: underline;
}
a.deta2:link{
	color: #000066;
	text-decoration: underline;
}
a.deta2:visited{
	color: #000066;
	text-decoration: underline;
}
a.deta2:hover{
	color: #FFFFFF;
	background-color: #000066;
	text-decoration: underline;
}
.desac2 {
	color: #999999;
	font-size: 1.00em;
	text-decoration: none;
}
.titulocampo {
	font-size: .95em;
	font-weight: bold;
	vertical-align: bottom;
}
.titulocampotop {
	font-size: .95em;
	font-weight: bold;
	vertical-align: top;
}
.titulocampocenter {
	font-size: .95em;
	font-weight: bold;
	text-align: center;
	vertical-align: bottom;
}
.datocenter {
	font-size: .90em;
	text-align: center;
}
.campo {
	font-size: .90em;
	line-height: 1.10em;
	font-family: Arial, Helvetica, sans-serif;
}
textarea.campo {
	font-family: Arial, Helvetica, sans-serif;
/*	font-size: 1.05em;
	line-height: 1.10em; */
}
.thsubform {
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	padding: 3px;
}
.resultadocampo {
	font-size: .95em;
	font-weight: bold;
	vertical-align: bottom;
}
.resultadocampocentro {
	font-size: .95em;
	font-weight: bold;
	vertical-align: bottom;
	text-align: center;
}
.pietabla {
	height: 3px;
	font-size: x-small;
	line-height: 3px;
}
.td_botones {
	height: 25px;
	text-align: center;
	vertical-align: middle;
}
.smallButton{
	font-size: 1em;
	line-height: 1.10em;
	height: 1.70 em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.tinyButton{
	font-size: .90em;
	line-height: 1.00em;
	height: 1.20em;
}
.negative{
	color: Red;
}
/* New Styles*/
.menuButton {
	padding: 6px 2px 6px 22px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.30em;
	vertical-align: middle;
	margin: 0px;
}
a.menuButton:link {
	text-decoration: none;
}
a.menuButton:visited {
	text-decoration: none;
}
a.menuButton:hover {
	text-decoration: none;
}
a.menuButton:active {
	text-decoration: none;
}
.menuCell {
	padding-bottom: 3px;
}
.menuCell2 {
	padding-bottom: 0px;
}
.menuSubButton {
	padding: 6px 2px 6px 22px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.70 em;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.30em;
	vertical-align: middle;
	margin: 0px;
}
a.menuSubButton:link {
	text-decoration: none;
}
a.menuSubButton:visited {
	text-decoration: none;
}
a.menuSubButton:hover {
	text-decoration: none;
}
a.menuSubButton:active {
	text-decoration: none;
}
.menuSection {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
}


.title {
	font-family: Arial, Verdana, sans-serif;
	font-size: .80em;
	font-weight: bold;
}
.backgroundTitle {
	padding: 3px 3px 3px 7px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 1.4em;
	font-weight: bold;
}
.underlineTitle {
}
.buttonCell {
	height: 40px;
	text-align: center;
	padding: 5px;
}
.dataTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	vertical-align: top;
	padding: 5pt 3pt 3pt;
}
.errorMessage {
	color: #B22222;
	font-weight: bold;
	padding: 5px;
	border: 1px solid #B22222;
}
.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px;
}
a.button:active {
}
.tdTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	vertical-align: middle;
	margin: 7px 3px 5px 3px;
}
.tdData {
	
}
.thFillTitle {

}
.tdSize1 {
/*	font-size: 0.70em;*/
	font-size: 1em;
}
.tdSize2 {
	font-size: 0.80em;
}
.deactivated {
	text-decoration: none;
}
.paginateText {
	display: inline;
	padding: 3px;
}






.edit, a.edit:link, a.edit:visited, a.edit:hover{
	text-decoration: underline;
}
.delete, a.delete:link, a.delete:visited, a.delete:hover{
	text-decoration: underline;
}
.data, a.data:link, a.data:visited, a.data:hover {
	text-decoration: underline;
}
.detail, a.detail:link, a.detail:visited, a.detail:hover{
	text-decoration: underline;
}



.cellTextOptions {
	text-align: center;
}
.tdTextOptions {
	text-align: center;
}
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.top {
	vertical-align: top; 
}
.middle {
	vertical-align: middle; 
}
.bottom {
	vertical-align: bottom; 
}
.buttonSmall {
	font-size: .80em;
	height: 1.80em;
}

fieldset {
	padding: 8px;
	margin-bottom: 2em; /* IE 3.5em */
	position: relative;
}
fieldset legend {
	font-weight: bold;
	font-size: 1.4em;
	margin-bottom: 0.5em;
	position: relative;  
	top: -1.4em;
	margin-left: -.3em;
	padding: .2em;
}
fieldset label {
	width: 120px;
	float: left;
	font-weight: bold;
	vertical-align: text-top;
	text-align: right;
	height: auto;
	padding-top: 0;
	margin-bottom: 0;
	padding-right: 5px;
	padding-bottom: 5px;
	display: block;
}
fieldset p {
	display: block;
	height: auto;
	clear: both;
}
fieldset fieldset legend {  
	background-color: transparent;
}
fieldset fieldset label {
	width: 30px;
	font-weight: bold;
	display: inline;
}
fieldset fieldset {
	padding: 5px;
	/*width: 40%;*/
	margin-left: 120px;
}
fieldset fieldset label {
	font-weight: bold;
	display: inline;
}
fieldset li {
	margin-left: 35px;
}
/*#boxVariables label {
	width: 150px;
	float: left !important;
	font-weight: bold;
	vertical-align: text-top;
	text-align: right;
	height: auto;
	padding-top: 0;
	margin-bottom: 0;
	padding-right: 5px;
	padding-bottom: 5px;
	display: block;
	overflow: hidden;
}
#boxVariables label.narrow {
	width: 80px;
}
#boxVariables label.wide {
	width: 250px;
}
*/
.checks label {
	float: none;
	width: auto;
	clear: none;
	display: block;
	text-align: left;
	height: 1.4em;
	padding-top: 0;
	margin-bottom: 0;
}
.checks label:after { 
	content: ""; 
} 
.checks input {
	float: left;
	text-align: right;
	width: auto;
}

.inProgress {
	font-weight: bold;
	color: #D2691E;	
	text-decoration: blink;
	padding-left: 30px;
	padding-right: 30px;
}
.resultSuccess {
	font-weight: bold;
	color: #00008B;
	padding-left: 30px;
	padding-right: 30px;
}
.resultFailure {
	font-weight: bold;
	color: #B22222;	
	padding-left: 30px;
	padding-right: 30px;
}
.errorMessage {
	color: #B22222;
	font-weight: bold;
	padding: 8px;
	margin: 9px;
	border: 1px solid #B22222;
	text-align: center;
}
.successMessage {
	color: #007D62;
	font-weight: bold;
	padding: 8px;
	margin: 9px;
	border: 1px solid #007D62;
	text-align: center;
}
.failureMessage {
	color: #B22222;
	font-weight: bold;
	padding: 8px;
	margin: 9px;
	border: 1px solid #B22222;
	text-align: center;
}

option{
	padding-right: 5px;
}

/* Image Buttons and Links */
.buttonImageDelete, .buttonImageDeleteDisabled, .buttonImageEdit, .buttonImageEditDisabled, 
.buttonImageAdd, .buttonImageAddDisabled, .buttonImageView, .buttonImageViewDisabled, 
.buttonImageGoTo, .buttonImageBack, .buttonImageViewGantt, .buttonImageUpload, .buttonImageUploadDisabled,
.buttonImageDownload ,.buttonImageDownloadDisabled, .buttonImageActivate, .buttonImageActivateDisabled,
.buttonImageEmail, .buttonImageEmailDisabled, .buttonImageHistory, .buttonImageHistoryDisabled,
.buttonImageSendMultiple, .buttonImageSendMultipleDisabled, .buttonImageStoreInServer, .buttonImageStoreInDisabled,
.buttonImageRestore, .buttonImageRestoreDisabled, .buttonImageStoreLocal, .buttonImageStoreLocalDisabled, 
.buttonImageRestoreFromServer, .buttonImageRestoreFromServerDisabled {
	font-size: 0px !Important;
	width: 16px;
	height: 16px;
	color: #ffffff !Important;
	background-color: transparent;
	border: none;
	cursor:pointer;	
}

.linkImageDelete, .linkImageDeleteDisabled, .linkImageEdit, .linkImageEditDisabled, 
.linkImageAdd, .linkImageAddDisabled, .linkImageView, .linkImageViewDisabled, .linkImageGoTo, 
.linkImageBack, .linkImageViewGantt, .linkImageUpload, .linkImageUploadDisabled, 
.linkImageDownload, .linkImageDownloadDisabled, .linkImageActivate, .linkImageActivateDisabled,
.linkImageInfo, .linkImageHelp, .linkImageEmail, .linkImageEmailDisabled,
.linkImageHistory, .linkImageHistoryDisabled, .linkSendMultiple, .linkImageSendMultipleDisabled,
.linkImageStoreInServer, .linkImageStoreInServerDisabled, .linkImageStoreLocal, .linkImageStoreLocalDisabled,
.linkImageRestore, .linkImageRestoreDisabled, 
.linkImageRestoreFromServer, .linkImageRestoreFromServerDisabled {
	width: 20px;
	height: 16px;
	border-width: 0;
	cursor: pointer;
}

/* LINK AGREGAR NUEVA ...  */
a.linkAdd:link, a.linkAdd:visited {
	height:15px;
	font-weight:normal;
	padding: 0 5px 0 20px;
	margin: 3px;
	text-decoration: none;
/*	background-image:
	background-position:
	background-repeat:*/
}

a.linkAdd:hover, a.linkAdd:active {
/*	color: */}
/* /LINK AGREGAR NUEVA ...  */

.configLinkImage {
	border: none !Important;
	margin-left: 1px !Important;
	margin-right: 1px !Important;
	padding-left: 1px !Important;
	padding-right: 1px !Important;
}

.configLabel{
	text-align: left; 
	vertical-align: top;
}


/*  LOGIN  -----------------------------------------------*/
#login { 
	float:left;
	display:block;
	margin:40px auto 0 auto;
	width:100%;
	padding:0;
	text-align:center;
/*	background-image:
	background-position:
	background-repeat:*/
}
#loginTop { 
	width: 360px;
	height: 104px;
	padding: 0;
	margin: 0 auto;

/*	background-image:
	background-position: 
	background-repeat:*/
}

#loginContent { 
	width: 360px;
	height: auto;	
	margin: auto;
	text-align:left;
}
#loginContent h1{ 
/*	color: */
	font-weight: bold;
	font-size: 1.4em;
	padding-left: 25px;
}
#loginContent p{ 
/*	color: */
	font-weight: bold;
	font-size: 1.1em;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 15px;
}

#loginContent input { 
	width: 300px;
	height: 20px;
	margin-bottom: 10px;
	font-size: 1.2em;

/*	border: */	
}

#loginButton { 
	width: 100px;
	height: 55px;
	margin: 0 auto 0 auto;
	background-color: transparent;
	border: none;
	font-size: 0px;
	cursor: pointer;	

/*	background-image:
	background-position:
	background-repeat:*/
}

#loginBottom { 
	width: 360px;
	height: 162px;	
	margin: auto;
	padding: 0;
	vertical-align: bottom;
/*	background-image:
	background-position:
	background-repeat:*/
}

/*  /LOGIN  -----------------------------------------------*/


#wrapper { 
	margin: 0 auto;
	width: 955px;
	padding: 0 0 0 0; /*  1px necesary to show margin-bottom of footer n FF*/
	/* background-color:*/
	/* background-image: */
}
#header {
	width: 955px;
	height: 98px;
	margin: 0;
	padding: 0;
	display: block;
/*	background-color: */
/*	background-image: */
/*	background-position: */
/*	background-repeat: */ 
}
#header a{
	width:115px;
	height: 63px;
	 float: left;
	 display: block;
	 margin: 38px 0 0 8px;
}
#header a strong{
	 display:none;
}

#contentWrapper { 
	width: 955px;
	margin: auto;
	padding: 0px 0px 0px 0px; /*  1px necesary to show margin-bottom of footer n FF*/
	/* background-color:*/
	/* background-image: */
}
#contentCloser { 
	width: 955px;
	margin: auto;
	clear: both;
	display: block;
	/* background-color:*/
	/* background-image: */
}

#leftColumn { 
	clear: both;
	width: 150px;
	float: left;
	border: none;
	margin: 0px 5px 5px 5px;
	padding: 0px;
/*	color: */	
}

#rightColumn { 
	float: right;
	width: 760px;   /* ie6*/ /*ie7*/ 
	display: inline;
	border: none;
	margin: 0 5px 5px 0;
	padding: 15px;
/*	color: */
/*	background: */
}

#footer { 
	width: 945px; /* 955px - 5leftBorder - 5px rightBorder*/
	height: 20px;
	clear: both;
	border: none;
/*	margin: 0px 5px 0px 5px; */
/*	background-color:*/	
/*	border-bottom:*/
}

#footer p{
	font-size:1em;
	text-align:right;
	padding: 3px 5px 0 0 ;
/*	color: */	
}

/* -------------------------------------------------------------------*/ 

/* CONTENIDO   */

/* -------------------------------------------------------------------*/ 
#rightColumn h1{
	font-family:Arial, Helvetica, sans-serif, Geneva;
	font-size: 1.7em;
	font-weight:bold;
	padding-bottom: 5px;
	margin-bottom:15px;
/*	color: 
	border-bottom:    */	
}
#rightColumn h2{
	font-family:Arial, Helvetica, sans-serif, Geneva;
	font-size:1.2em;
	font-weight:normal;
	margin-bottom: 5px;
/*	color: */	
}
#rightColumn h3 {
	font-family:Arial, Helvetica, sans-serif, Geneva;
	font-size: 1.5em;
	font-weight:bold;
	padding-top: 20px;
	padding-bottom: 5px;
	margin-bottom:10px;
/*	color:     */	
}
#rightColumn h4 {
	font-family:Arial, Helvetica, sans-serif, Geneva;
	font-size: 1.4em;
	font-weight:bold;
	padding-top: 15px;
	padding-bottom: 5px;
	margin-bottom:10px;
/*	color:     */	
}
#rightColumn h2 a:link, #rightColumn h2 a:visited{
	font-family:Arial, Helvetica, sans-serif, Geneva;
	font-size: inherit;
	font-weight:normal;
	text-decoration:none;
/*	color: */	
}
#rightColumn h2 a:hover, #rightColumn h2 a:active{
	font-family:Arial, Helvetica, sans-serif, Geneva;
	font-size: inherit;
	font-weight:normal;
	text-decoration:underline;	
/*	color: */	
}

#rightColumn #clusterConditions h3 {
	padding-top: 10px;
	padding-bottom: 5px;
	margin-bottom: 5px;
/*	color:     */	
}
#rightColumn #clusterConditions h4 {
	margin-top: 15px;
	padding-bottom: 5px;
	margin-bottom: 5px;
/*	color:     */	
}


#rightColumn p{
	width: 570px;
	font-family:Arial, Helvetica, sans-serif, Geneva;
	font-size: 1.2em; /*NEW, px to em*/
	margin-bottom: 10px;
	padding-right: 10px;
/*	color:*/
/*	border-right: */
}
#rightColumn fieldset p{
	width: 610px;
}
.paragraphEdit {
	padding-left: 25px;
/*	background-image:url(../images/icon_write.gif);
	background-repeat:no-repeat;
	background-position:left top;*/	
}

/* -------------------------------------------------------------------*/ 
/*  TABLES
/* -------------------------------------------------------------------*/ 
.table1{
	height: 25px;
	margin:  10px 0 20px 0;
	font-family:Arial, Helvetica, sans-serif, Geneva;
/*	color:	
	background-color: */
	}





/* TD with FINAL BUTTON ------------------------------------ */
.tdButton{
	height: 45px;
	text-align:center;
	vertical-align:middle;
	padding-bottom:0;
/*	background-color: */	
}
a.tdAgregar:link, 
a.tdAgregar:visited  {
	width:auto;
	display:inline;
	padding: 5px 15px 3px 15px;
	margin: 0 0 0 3px;
	font-size: 1.1em;

	font-weight:bold;
	vertical-align: middle;	
	text-decoration:none;

/*	color: 
	border: 	
	background-image:
	background-position:
	background-repeat: 	
	background-color: */	
}

a.tdAgregar:hover, 
a.tdAgregar:active  {
/*	color: 
	background-color:
	background-image: */
}
/* /TD with FINAL BUTTON ------------------------------------ */



/*  TD 2 colores -------------------------------------*/
.line1, .line2 {
	padding: 3px 10px 3px 10px;
/*	color:
	background-color:*/
	}

.line2{
/*	background-color: */
}

.col1, .col2, .colGeneral{
	padding: 3px 10px 3px 10px;
/*	background-color: 
	color:	*/
}



/* BOTONES EDICION   ----------------------------*/
a.datos:link, a.datos:visited, a.editar:link, a.editar:visited, a.borrar:link, a.borrar:visited {
	font-weight:bold;
	text-decoration:underline;
	padding:1px 3px 1px 3px;
}
a.datos:link, a.datos:visited  {
/*	color: */}
a.editar:link, a.editar:visited {
/*	color: */}
a.borrar:link, a.borrar:visited {
/*	color: */}

a.datos:hover, a.datos:active,
a.editar:hover, a.editar:active,
a.borrar:hover, a.borrar:active {
	font-weight:bold;
	text-decoration:underline;
}
a.datos:hover, a.datos:active  {
/*	background-color:;
	color: */}
a.editar:hover, a.editar:active {
/*	background-color;
	color: */}
a.borrar:hover, a.borrar:active {
/*	background-color: 
	color: */}
	
	
/*   OTROS LINKS   ------------------------*/

/* posiciona el link de "AGREGAR NUEVA ..." y VOLVER */
.rightLink{
	float:right;
	display:inline;
	clear:left;
}
/* BOTON AGREGAR NUEVA ...  */
a.agregarNueva:link, a.agregarNueva:visited {
	height:15px;
	font-weight:normal;
	padding: 0 5px 0 20px;
	margin: 3px;
/*	background-image:
	background-position:
	background-repeat:*/
}

a.agregarNueva:hover, a.agregarNueva:active {
/*	color: */}
/* /BOTON AGREGAR NUEVA ...  */


/* BOTON VOLVER  */
a.volver:link, a.volver:visited {
	font-size:1.1em;
	font-weight:normal;
	padding: 0 5px 0 20px;
	margin: 3px;
}

a.volver:hover, a.volver:active {
	font-size:1.1em;
/*	color: */}
/* /BOTON VOLVER  */



/* BOTON EDITAR ...  */
a.editarRight:link, a.editarRight:visited {
	font-weight:normal;
	padding: 0 5px 0 20px;
	margin: 3px;
/*	background-image:
	background-position:
	background-repeat: */
}

a.editarRight:hover, a.editarRight:active {
/*	color:  */}
/* /BOTON AGREGAR NUEVA ...  */


	
/* PAGINADO    ----------------------------*/
.pages{	
	height: 37px;
	font-size: 0.9em;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
/*	color:
	background-color: */
}

a.pageLink:link, a.pageLink:visited {
	font-weight:normal;
	text-decoration:underline;
	margin: 0 2px;
/*	color:*/	
}

a.pageLink:hover, a.pageLink:active {
	font-weight:normal;
	text-decoration:underline;
	margin: 0 2px;
/*	color:#FF6600;*/	
}


.tdFooter{
	padding: 5px;
	text-align:left;
/*	background-color: */	
}



/* SEARCH   -------------------------------------------*/
.tdTitSearch{
	width: 22%;	
	display:inline;
	clear:right;
	font-weight:bold;
	text-align:left;
	padding-left: 30px;
	padding-bottom:10px;
/*	background-color:
	background-image:
	background-position:
	background-repeat:
	color:*/	
}
.tdSearch{
	width: 95%;
	height: 32px;	
	text-align:left;
	padding: 4px;
	vertical-align:top;
/*	background-color:
	color: */
}

/* NEW! */
#divSearch{
	width: 80%;
	float:left;
	position:relative;
	margin: 8px 0 0 30px;   /* ie */
}

.tdSearch input{
	font-size:1.1em;
	margin-top: 0;
/*	color: 
	border: */
}
.tdSearch img{
	margin:0;
}



a.tdSearchButton:link, 
a.tdSearchButton:visited  {
	width:auto;
	display:inline;
	padding: 0px 5px;
	margin: 0 0 0 3px;
	font-size: 1.1em;
	font-weight:bold;
	text-decoration:none;	
/*	border: 
	color: 
	background-image:
	background-position:
	background-repeat: 
	background-color: */

}
a.tdSearchButton:hover, 
a.tdSearchButton:active  {
/*	color:
	background-color:
	background-image: */
}

/* -------------------------------------------------------------------*/ 

/* MENU NAVEGACION   */

/* -------------------------------------------------------------------*/ 
#leftColumn ul { 
	margin:0;   /*   styles-ie*/
	width: 150px;
/*	background-color:   */
}

#leftColumn li { 
	margin:0;
	list-style: none;
/*	border-bottom: 
	border-top: 	*/	
}
#leftColumn li.menuLink a { 
	width:135px; /* 150px styles-ie6.css*/
	height:auto;
	display:block;
	font-size:1.2em;
	padding: 4px 3px 4px 10px;
	text-align:left;
	text-decoration:none;
	list-style-position:outside;
	vertical-align:top;
/*	color: */
}
#leftColumn li.menuLink a:hover { 
	width:135px;  /* 150px stylres-ie6.css*/
	height:auto;
/*	background-color:
	background-image:
	background-position:
	background-repeat: */
}

.titleMenu { 
	margin:0;
	padding: 5px;
	font-size:1.2em;
	text-transform:uppercase;
	font-weight:bold;	
}

.linkSwitchMenu {
	text-decoration: none;
}

#logout{
	width: 147px;
	height: 31px;
	display:block;
/*	background-image:
	background-position:
	background-repeat: */
	margin: 15px 0 0 2px;
}


/*  BOX VARIABLES   ----------------------------------- */
#boxVariables{
	width:97%;
	height:auto;
	margin: 10px 0 20px 0;
	padding: 10px;
/*	background-color:
	color:	
	border: */
}


#boxVariables ul{
	padding-left: 10px;
}

/*  INITIAL UL*/
#boxVariables ul li{
	font-weight:bold;
/*	text-transform:uppercase; */
	font-size: 1.3em;
	list-style: none;
	padding-left: 15px;	
	margin-bottom: 10px;
	margin-top:5px;
/*	color
	background-image:
	background-position:
	background-repeat:*/

}

/*FIRST UL */
#boxVariables ul li ul li{
	font-weight:bold;
/*	text-transform:uppercase; */
	font-size: 1em;
	list-style: none;
	padding-left: 15px;	
	margin-bottom: 10px;
	
/*	color:
	background-image:
	background-position:
	background-repeat:*/

}

/* SECOND UL */
#boxVariables ul li ul li ul li{
	font-weight:normal;
	text-transform: none;	
	font-size: 1.0em ; /* 11px/13px = 1.1818em*/
	list-style: none;
	padding-left: 15px;		
	margin-bottom: 0;	
/*	color:
	background-image:
	background-position:
	background-repeat: */	
}
/* THIRD UL  */
#boxVariables ul li ul li ul li ul li{
	font-weight:normal;
	text-transform: none;		
	font-size: 1.0em;
	list-style: none;
	padding-left: 15px;	
	margin-bottom: 0;
/*	color:
	background-image:
	background-position:
	background-repeat*/	
}

/* Boton Atributo ------------------*/
#boxVariables a{
	font-size: 1em;
	font-weight:normal;
	text-transform:none;
	/*width:14px;*/
	height: 14px;
	margin: 0 5px;
/*	padding: 0 7px 3px 16px; */
	display:inline;
	clear:left;	
}

#boxVariables a.atributo:link,
#boxVariables a.atributo:visited {
	text-decoration: none;
/*	background-image:
	background-position:
	background-repeat:  */	
}
#boxVariables a.atributo:hover,
#boxVariables a.atributo:active {
	text-decoration:underline;
}

/* Boton Seccion ------------------*/
#boxVariables a.seccion:link,
#boxVariables a.seccion:visited {
	text-decoration:none;
/*	background-image:
	background-position:
	background-repeat: */	
}
#boxVariables a.seccion:hover,
#boxVariables a.seccion:active {
	text-decoration:underline;
}


/* Boton ELIMNINAR SECCION ------------------*/
#boxVariables a.eliminar1:link,
#boxVariables a.eliminar1:visited {
/*	color: 
	background-image:
	background-position:
	background-repeat: */
	text-decoration:none;
}
#boxVariables a.eliminar1:hover,
#boxVariables a.eliminar1:active {
	text-decoration:underline;
}


/* Boton ELIMNINAR ATRIBUTO ------------------*/
#boxVariables a.eliminar2:link,
#boxVariables a.eliminar2:visited {
	text-decoration:none;
/*	color: 
	background-image:
	background-position:
	background-repeat:*/
}
#boxVariables a.eliminar2:hover,
#boxVariables a.eliminar2:active {
	text-decoration:underline;
}

.textboxVariables{
	font-size: 1em;
	height:12px;
	padding-left: 5px;
/*	border:*/	
}

.linksEdicion{
	clear:left;
	display:inline;
}

/*  AGREGADOS -----------------------------------------------*/

/* BOTON AGREGAR NUEVA ...  */
a.addLink {
	line-height: 1.4em;
	vertical-align: middle;
}

a.addLink:link, a.addLink:visited {
	font-weight: bold;
	padding: 0 5px 0 20px;
	margin: 3px;
	text-decoration: none;
/*	background-image:
	background-position:
	background-repeat:*/
}

a.addLink:hover, a.addLink:active {
	text-decoration: none;
/*	color: */}
/* /BOTON AGREGAR NUEVA ...  */

a.searchLink:link, a.searchLink:active {
	font-weight: bold;
	padding: 0 5px 0 20px;
	margin: 3px;
	text-decoration: none;
}
a.searchLink:hover, a.searchLink:active {
	text-decoration: none;
/*	color: */}


#projectFilter label{	
	color:#0066CC;
	font-weight:bold;
}

/*  BOTON DE FIELDSET  */
#fieldsetButton{
	float:left;
	display:block;
	margin: 0 0 0 125px;
	text-align:left;
}

#categoriesListPlaceHolder ul {
	margin-left : 20px;	
}                                            

#contentList .textOptionMove:hover {
	cursor: move;
}



/* -- Progress ------------------------------- */

.progressWrapper {
	width: 357px;
	overflow: hidden;
}

.progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}
/* Message */
.progressMessage {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
.blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}

.progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}

a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(../images/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

a.progressCancel:hover {
	background-position: 0px 0px;
}


#overDiv * {
	font-family: Arial, Helvetica, sans-serif, Verdana;
}
#overDiv table td:first-child {
	padding: 1px;
	font-size: 1.2em;
	line-height: auto;	
}
#overDiv table td table td{
	padding: 5px;
}
#overDiv table td table td:first-child {
	padding: 10px;
	font-size: 1.1em;
}
#overDiv a {
	text-decoration: none;
}
#overDiv a:hover {
	text-decoration: none;
	cursor: pointer;
}

fieldset.nestedFieldset fieldset legend {  
	background-color: transparent;
}
fieldset.nestedFieldset fieldset label {
	width: 120px;
	float: left;
	font-weight: bold;
	vertical-align: text-top;
	text-align: right;
	height: auto;
	padding-top: 0;
	margin-bottom: 0;
	padding-right: 5px;
	padding-bottom: 5px;
	display: block;
}
fieldset.nestedFieldset fieldset {
	padding: 5px;
	margin-left: 0px;
}
fieldset.nestedFieldset fieldset label {
	font-weight: bold;
	display: inline;
}


.aqua1, .aqua2, .aqua3, .aqua4, .aqua5,
.aqua6, .aqua7, .aqua8, .aqua9, .aqua10 {
	width: 20px;
	height: 16px;
	border-width: 0;
	cursor:pointer;
}
.aqua1 {
	background: url(../images/Aqua1.png) center no-repeat;
}
.aqua2 {
	background: url(../images/Aqua2.png) center no-repeat;
}
.aqua3 {
	background: url(../images/Aqua3.png) center no-repeat;
}
.aqua4 {
	background: url(../images/Aqua4.png) center no-repeat;
}
.aqua5 {
	background: url(../images/Aqua5.png) center no-repeat;
}
.aqua6 {
	background: url(../images/Aqua6.png) center no-repeat;
}
.aqua7 {
	background: url(../images/Aqua7.png) center no-repeat;
}
.aqua8 {
	background: url(../images/Aqua8.png) center no-repeat;
}
.aqua9 {
	background: url(../images/Aqua9.png) center no-repeat;
}
.aqua10 {
	background: url(../images/Aqua10.png) center no-repeat;
}


