<?xml version="1.0" encoding="utf8"?>
<config>
	<system>
		<parameters>
			<debugMode>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</debugMode>
			<developmentMode>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</developmentMode>
			<mailCapture>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</mailCapture>
			<underMaintenance>
				<value>NO</value>
				<element_type>YES/NO</element_type>
			</underMaintenance>
			<affiliateUserLoginUnified>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</affiliateUserLoginUnified>
			<applicationTimeZoneGMT>
				<element_type>TIMEZONE</element_type>
			</applicationTimeZoneGMT>
			<thousandsSeparator>.</thousandsSeparator>
			<decimalSeparator>,</decimalSeparator>
			<numberOfDecimals>2</numberOfDecimals>
			<siteName>DICANUZ</siteName>
			<siteDescription>Sistema de Administración de Pedidos de DICANUZ</siteDescription>
			<siteShortName>Dicanuz</siteShortName>
			<webmasterMail>gflamerich@gmail.com</webmasterMail>
			<debugMail>gflamerich@gmail.com</debugMail>
			<fromEmail>facturacion.anmaga@gmail.com</fromEmail>
			<tablePrefix></tablePrefix>
			<news>Novedades: Bienvenido al sistema Dicanuz. En este momento este sistema se encuentra en período de prueba</news>
			<affiliateNews>Novedades: distinguidos Clientes, Bienvenido al sistema Dicanuz. En este momento este sistema se encuentra en período de prueba</affiliateNews>
		</parameters>
		<errorReporting>
			<value>E_ALL ^ E_NOTICE</value>
			<element_type>Options</element_type>
			<element_options>
				<option_1></option_1>
				<option_2>E_ALL ^ E_NOTICE</option_2>
				<option_3>E_ALL</option_3>
				<option_4>E_STRICT</option_4>
			</element_options>
		</errorReporting>
		<noCheckPermissionActions>
			<index>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</index>
		</noCheckPermissionActions>
		<noCheckLoginActions>
			<index>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</index>
			<maintenance>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</maintenance>
			<usersLoginMaintenance>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</usersLoginMaintenance>
			<usersLogin>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</usersLogin>
			<usersDoLogin>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</usersDoLogin>
			<usersPasswordRecovery>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</usersPasswordRecovery>
			<usersDoPasswordRecovery>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</usersDoPasswordRecovery>
			<noPermission>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</noPermission>
			<htmlsShow>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</htmlsShow>
			<affiliatesUsersLogin>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</affiliatesUsersLogin>
			<affiliatesUsersDoLogin>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</affiliatesUsersDoLogin>
			<usersByRegistrationLogin>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</usersByRegistrationLogin>
			<usersByRegistrationDoLogin>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</usersByRegistrationDoLogin>
			<usersByRegistrationEdit>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</usersByRegistrationEdit>
			<usersByRegistrationDoEdit>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</usersByRegistrationDoEdit>
			<usersByRegistrationPasswordRecovery>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</usersByRegistrationPasswordRecovery>
			<usersByRegistrationDoPassRecovery>
				<value>YES</value>
				<element_type>YES/NO</element_type>
			</usersByRegistrationDoPassRecovery>
		</noCheckLoginActions>
		<rowsPerPage>20</rowsPerPage>
	</system>
	<mluse>
		<language>esp</language>
	</mluse>
	<users>
		<licenses>5</licenses>
	</users>
	<catalog>
		<image>
			<maxSize>100000</maxSize>
			<formats>
				<jpeg>
					<value>YES</value>
					<element_type>YES/NO</element_type>
				</jpeg>
				<png>
					<value>YES</value>
					<element_type>YES/NO</element_type>
				</png>
			</formats>
			<thumbnail>
				<resizeFormat>3</resizeFormat>
				<width>50</width>
				<height>70</height>
			</thumbnail>
		</image>
	</catalog>
	<orders>
		<articlesPerOrder>11</articlesPerOrder>
		<sendMailOnCreation>
			<value>YES</value>
			<element_type>YES/NO</element_type>
		</sendMailOnCreation>
		<recipients>facturacion.anmaga@gmail.com,cruzclarke@cantv.net,jhernandez2412@gmail.com,lisbethadrian@hotmail.com,santaella.juan@gmail.com,iliana.alfonzo@gmail.com,lisbethadrian@yahoo.es</recipients>
		<exportComment>Exportado a xml</exportComment>
		<ordersPerPage>25</ordersPerPage>
	</orders>
</config>
